* {
  box-sizing: border-box;
  padding: 0px;
  outline: 0;
  margin: 0px;
  text-decoration: none;
  font-family: sans-serif;
  border-radius: 12px;
}
button {
  background-color: rgb(23, 121, 88);
  color: white;
  width: 30%;
  height: 40%;
  border-radius: 12px;
  font-size: medium;
}
button:hover {
  background-color: rgb(43, 108, 86);
}
.welcome {
  margin-top: 10%;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px rgb(195, 195, 222);
  justify-self: center;
  font-size: 40px;
  color: rgb(186, 88, 18);
}
.signinSpan {
  margin: 0 10px;
}
.body {
  height: 98vh;
  width: 98vw;
  position: relative;
  z-index: 0;
}
.headerDiv {
  padding: 0.5% 0.5% 1.4% 1.2%;
  display: flex;
  gap: 1%;
}
.menuIcon {
  padding-top: 0.3%;
  padding-left: 0.65%;
  margin-top: 0.3%;
  font-size: 20px;
  color: rgb(30, 28, 28);
  border-radius: 50%;
  width: 2.6%;
  height: 34px;
}
.menuIcon:hover {
  border: 1px solid rgb(219, 217, 219);
  background-color: rgb(219, 217, 219);
}
.menuIcon:active {
  background-color: rgb(193, 193, 193);
}
.youtube {
  padding-top: 0.4%;
  font-size: 29px;
  color: red;
  display: flex;
}
.yt-text {
  font-size: 25px;
  color: black;
  transform: scaleX(0.6);
  font-weight: bold;
  transform-origin: left top;
}
.signIn {
  margin-left: auto;
  width: 7%;
  border: 1px solid rgb(222, 223, 245);
  margin-right: 1.2%;
  padding: 0.5%;
  font-size: 15px;
  height: 39px;
  border-radius: 32px;
  color: rgb(34, 91, 235);
}
.iconUser {
  margin-right: 5px;
  font-size: 20px;
}
.signIn:hover {
  background-color: rgb(222, 223, 245);
}
.signIn:active {
  background-color: rgb(184, 187, 242);
}
.search {
  width: 100%;
}
.input {
  width: 89%;
  border-radius: 32px 0 0 32px;
  border: 1px solid rgb(197, 192, 192);
  border-right: 0px;
  height: 40px;
  padding-left: 2%;
  font-size: 15px;
}
.input:focus {
  border: 1px solid rgb(12, 48, 147);
}
.in-div {
  width: 68px;
  font-size: 20px;
  position: absolute;
  display: inline-block;
  border: 1px solid rgb(197, 192, 192);
  color: rgb(67, 54, 54);
  padding: 1.5% 2% 1.5% 3.2%;
  right: 0px;
  height: 40px;
  border-radius: 0px 32px 32px 0px;
  transition: all 0.1s;
  z-index: 8;
}
.in-div:hover {
  background-color: rgb(237, 235, 235);
}
.sidebar {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 0% 0.5%;
  background-color: white;
}
.sidebar > div {
  padding: 7% 7% 7% 8%;
  border-radius: 12px;
}
.sidebar .homeIcon {
  background-color: lightgray;
}
.sidebar > div:hover {
  background-color: lightgray;
}
.iconSub {
  margin-right: 32px;
}
.subParentHome {
  width: 95%;
  margin: 0;
  margin-left: auto;
}
.home {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  grid-auto-rows: 300px;
  gap: 20px;
  position: relative;
  z-index: 0;
  padding: 10px;
}
.filterBtns {
  width: 100%;
  display: flex;
  list-style: none;
  overflow-x: scroll;
  position: relative;
  z-index: 0;
}

.filterBtns::-webkit-scrollbar {
  display: none;
}
.filterBtns li {
  height: 1%;
  border-radius: 12px;
  padding: 0.6%;
  margin: 0% 1%;
  flex-shrink: 0;
  white-space: nowrap;
  background-color: rgb(237, 235, 235);
  position: relative;
  z-index: 0;
}
.filterBtns li:hover {
  background-color: rgb(145, 143, 143);
}
.filterBtns li:active {
  background-color: rgb(235, 232, 232);
}

.adjWidth {
  margin-left: 12%;
}
.parentHome {
  position: relative;
  z-index: 0;
  display: flex;
  overflow-x: hidden;
}
.home > div {
  border-radius: 12px;
}
.smallSideBar {
  width: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.smallSideBar .iconSub {
  margin: auto;
  width: 90%;
  height: 30%;
}
.iconDiv {
  width: 100%;
}
.iconDiv p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.imgDiv {
  height: 80%;
  width: 100%;
}
.home iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.keyDivHome {
  height: 100%;
}
.homeNew {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 89%;
  margin-left: 12%;
}
/* login page css */
.login {
  margin: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  background-color: azure;
  border: 1px solid rgb(205, 215, 218);
  border-radius: 12px;
  box-shadow: 0px 0px 5px 1.8px rgb(174, 190, 190);
  height: 570px;
  overflow: hidden;
}
.login h1 {
  color: orange;
}
.login div {
  width: 78%;
  font-size: 30px;
  height: 100px;
}
.login input {
  margin-left: 10%;
  border-radius: 12px;
  width: 60%;
  height: 70%;
  font-size: 30px;
  border: 2px solid rgb(56, 91, 141);
  padding-left: 20px;
  color: rgb(22, 78, 119);
}
.login input:focus {
  background-color: aquamarine;
  border: 0px;
}
.login .btnDIv {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .errMessage {
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
  color: red;
  width: 70%;
  padding-left: 20%;
  margin: auto;
}
.login .loginTitle {
  width: 20%;
  margin: auto;
}

.login .btnDIv button {
  background-color: rgb(23, 121, 88);
  color: white;
  width: 30%;
  height: 40%;
  border-radius: 12px;
  font-size: medium;
}
.login .btnDIv button:hover {
  background-color: rgba(21, 150, 107, 0.758);
}
.login .registerDiv {
  text-align: center;
}
/* channel page css */
.createChannel {
  width: 55%;
  height: 500px;
  margin: auto;
  margin-top: 35px;
  padding-top: 30px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgb(86, 120, 147);
  gap: 3%;
}

.createChannel .iconcc .iconCreateChannel {
  font-size: 80px;
}

.createChannel .inputCh {
  width: 60%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  gap: 6%;
  border-radius: 12px;
}
.createChannel label {
  font-weight: bold;
  color: rgb(16, 57, 91);
}
.createChannel .inputCh input {
  padding-left: 10px;
  font-size: medium;
  height: 40px;
  width: 60%;
  border-radius: 12px;
}
.createChannel .inputCh textarea {
  height: 100px;
  width: 60%;
  padding-left: 10px;
  font-size: medium;
  border: 1px solid black;
  margin-left: 23px;
  padding-top: 2%;
  border-radius: 12px;
}
.createChannel .inputCh textarea:focus {
  background-color: aqua;
}
.createChannel .inputCh input:focus {
  background-color: aqua;
}
.createChannel .btnCh {
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: center;
}
.createChannel .btnCh button {
  height: 50px;
  width: 19%;
  border-radius: 12px;
}
.videoParent {
  width: 100%;
  height: 100%;
  padding: 0 5.5% 0 7.5%;
}
.videoDiv {
  width: 100%;
  height: 100%;
}
.videoMain .vDisplay {
  width: 100%;
  height: 72%;
  border-radius: 12px;
  padding-left: 0;
  margin-left: 0;
}
.videoMain .videoDetailRow {
  display: flex;
  height: 62px;
}
.videoMain .videoDetailRow button {
  height: 40px;
  color: white;
  background-color: black;
  width: 110px;
  border-radius: 23px;

  margin-left: 5%;
}
.videoParent .videoMain {
  width: 100%;
  height: 100%;
}
.videoParent .videoDiv {
  display: flex;
}
.videoDiv .videoList {
  margin-left: 1%;
  width: 30%;
}
.videoDiv .videoSubDiv {
  width: 67%;
  height: 100%;
}
.videoDetails {
  width: 50%;
  height: 100%;
}
.videoDetailParent {
  display: flex;
  height: 100px;
}
.rightSection {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.videoDetails .video {
  width: 100%;
  height: 100%;
}

.viewVideo {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
}

.viewVideo > div {
  margin-bottom: 40px;
}
.viewVideo iframe {
  height: 179px;
}
.rowVideos {
  width: 100%;
  height: 40%;
}
.vTitle {
  font-size: 28px;
}
.rTitle {
  font-weight: 600;
}
.rViews {
  color: rgb(91, 91, 91);
  font-size: 12px;
}
.rChannel {
  color: rgb(91, 91, 91);
  font-size: 12px;
}
.vDescription {
  background-color: rgb(232, 232, 232);
  padding: 2%;
  height: auto;
}
.likeDislike {
  background-color: rgb(232, 232, 232);
  width: 126px;
  height: 40px;
  display: flex;
  gap: 7%;
  border-radius: 23px;
  margin-left: 30%;
  justify-content: center;
  align-items: center;
}
.vchannel {
  font-weight: 600;
  padding-top: 12px;
}
.bar {
  border-right: 2px solid rgb(198, 190, 190);
  height: 28px;
}
.likes {
  border-radius: 23px 0px 0px 23px;
  padding-left: 12%;
  height: 100%;
  padding-top: 13px;
}
.likes :hover {
  background-color: grey;
}
.dislikes {
  height: 100%;
  padding-top: 13px;

  width: 50px;
}
.dislikes :hover {
  background-color: grey;
}
.commentsDiv {
  margin-top: 25px;
  font-size: 10px;
}
.commentsDiv input {
  width: 80%;
  border-width: 0px 0px 1px 0px;
  border-color: black;
  padding-left: 10px;
  border-radius: 0px;
  font-size: 16px;
  color: black;
  height: 40px;
}
.commentsDiv button {
  width: 10%;
  height: 30px;
}
.editIcon {
  font-size: 30px;
  color: goldenrod;
}
.commentsAdd {
  display: flex;
  flex-direction: column;
}
.commentText {
  margin-top: 10px;
  font-size: medium;
}
.register {
  padding-top: 20px;
  padding-right: 4%;
  width: 500px;
  height: 500px;
  font-size: 17px;
  font-weight: 600;
}
.register input {
  height: 19%;
  font-size: 17px;
}
.register button {
  margin: 20px;
  height: 57px;
}
.register .err {
  font-size: 17px;
  color: red;
  display: flex;
  justify-content: center;
}
.viewChannel {
  font-size: 14px;
  width: 150px;
  height: 50px;
  right: 20px;
  padding: 1%;
  position: absolute;
  top: 49px;
  z-index: 100;
  box-shadow: 0 0 2px 1px grey;
  background-color: rgb(241, 233, 233);
}
.viewChannelPage {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 7px;
  justify-content: center;
}
.successMess {
  color: green;
}
.name {
  font-size: 32px;
}
.description {
  color: gray;
}
.colVideoList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
}
.subscribe {
  font-size: 16px;
  font-weight: 400;
  width: 90px;
  background-color: black;
  height: 34px;
  border-radius: 23px;
}
.horizoBar {
  width: 100%;
  border: 1px solid rgb(172, 172, 172);
}
.title {
  font-weight: bold;
  color: black;
}
.views {
  color: gray;
  font-size: small;
}
.searchDiv {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
  margin: 0% 10% 0 14%;
  z-index: 0;
}
.errMess {
  color: red;
  font-size: 16;
}
.channel {
  font-size: 16px;
  font-weight: 600;
  color: gray;
}
.createChannelHeader {
  color: black;
  width: 230px;
  height: 45px;
}
.createChannelHeader :hover {
  background-color: rgb(228, 228, 228);
}
.cc {
  padding-top: 10px;
  color: black;
  font-weight: bold;
  width: 80%;
  padding-left: 10px;

  height: 100%;
}
.displayStill {
  pointer-events: none;
  opacity: 0.6;
  overflow: hidden;
}
